/*
/* Fonts
*/
@font-face {
  font-family: 'BluuNext';
  src: url("assets/fonts/BluuNext/BluuNext-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 200;
  src: url(assets/fonts/SofiaPro/normal_normal_200.woff) format('woff2');
}


/*
 * Globals
 */ 

 .bttn {
  /* font-family: Sofia Pro, serif; */
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.5px;
  border-radius: 30px;
  width: 220px;
  height: 46px;
 }

 .btn-chip {
  border-radius: 20px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.5px;
 }


/*
 * Base structure
 */

body {
  background-color: #191919;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/*
 * Covers
 */

.cover-home {
  background: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(assets/img/HPGD.jpg);
}

.cover-about {
  background: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(assets/img/background/background_fire.webp);
}

.cover-release {
  background: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(assets/img/background/background_night-sky.webp);
}

.cover-production {
  background: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(assets/img/background/background_fire.webp);
}

.cover-cast {
  background: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(assets/img/background/background_fire.webp);
}

.cover-photos {
  background: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(assets/img/background/background_fire.webp);
}


/*
 * Header
 */

.header-logo {
  position:absolute;
  top:1%;
  left: 5%;
  width: 20%;
}

.header-title-home {
  font-family: BluuNext, serif;
  font-size: 3.33333em;
  font-weight: 700;
  text-align: start;
  color: #f9f4f2;

  padding-right: 22px;
  margin-bottom: 20px;
}

.header-title-about {
  font-family: BluuNext, serif;
  font-size: 3.33333em;
  font-weight: 700;
  text-align: start;
  color: #f9f4f2;
  padding: 10%;
}

.header-btn:active,
.header-btn:hover,
.header-btn:focus {
  border-color: #fb8c00;
  background-color: #fb8c00;
  color:#fff;
}

.header-btn {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.5px;
  border-radius: 30px;
  width: 220px;
  height: 46px;
  border-color: #e65100;
  background-color: #e65100;
  color:#fff;
}

.header-content-box {
  padding-left: 5%;
}

/*
 * Footer
 */

 .bg-footer {
   background-color: #1e1e1e;
 }


/*
 * NavBar
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Sections
 */

.bg-section {
  background-color: #191919;
}

.section-header {
  padding: 2rem 1.25rem;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.section-about-content {
  background-color: #1e1e1e;
}


.section-title-home {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  margin: 0px;
  padding-left: 1.375rem;
  border-left: 0.1rem solid rgba(223, 124, 10, 0.8);
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}

.section-title-about {
  font-family: BluuNext, serif;
  font-size: 30px;
  font-weight: 700;
  /* line-height: 32px; */
  text-align: center;
  color: #f9f4f2;
}

/*
 * Images
 */

.img-poster {
  width: 100%;
  max-width: 256px;
  max-height: 419px
}

.img-cast {
  border-radius: 50%;
}

.img-about {
  padding-left: 20%;
}

/*
 * Cards
 */

 .card-cast:hover {
  background-color: #1e1e1e;
 }


/*
 * Texts
 */

 .txt-about {
   font-family: Sofia Pro,serif;;
   padding-left: 20%;
   padding-right: 20%;
   padding-top: 2%;
   padding-bottom: 5%;
 }

 .title-cast {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  /* text-transform: uppercase; */
  font-stretch: normal;
  font-style: normal;
  color:gray;
}

.title-about {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
/*
 * Frame
 */

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
